<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<title>Trigue Home Page</title>
	<style>
		/* Style all input fields */
		body {
			font-family: 'Arial Narrow', Arial, Helvetica, sans-serif;
			font-weight: normal;
			background-color: rgba(0,0,0,0.9);
			padding: 0;
			margin: 0;
		}

		.container {
			max-width: 1370px;
			height: 100vh;
			background: url(/trigue_home.png);
			background-color: rgba(0,0,0,0.9);
            background-repeat: no-repeat;
            background-size: cover;
			margin: 0 auto;
		}

		.header {
			font-size: 25px;
			text-align: right;
			padding: 40px 0;
			color: #444;
		}

		.setup-link {
			font-size: 18px;
			color: #fafafa;
			font-weight: bold;
			margin: 40px;
			width: auto;
			padding: 10px 20px;
			background-color: #29CAC3;
			box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
			text-decoration: none;
			border-radius: 4px;
		}

		.setup-link:hover {
			opacity: 0.9;
		}

        .content {
            margin: auto;
            width: 50%;
			height: 50%;
            padding: 10px;
			text-align: center;
        }

		.welcome-message {
			font-size: 48px;
			color: #aaa;
			font-family: "Arial Narrow";
			margin-top: 50%;
			padding-left: 40px;
		}
		
	</style>
</head>

<body>
	<div class="container">
		<header class="header">
			<a href="/auth/setup" class="setup-link">Setup DNA Spaces Connection &GreaterGreater;</a>
		</header>
		<div class="content">
			<h1 class="welcome-message">WELCOME TO TRIGUE</h1>
		</div>
	</div>
</body>

</html>